params {
    segmentation_refinement    = false      // wether to run segmentation refinement step (segger)
    segger_accelerator         = 'cpu'      // either 'cuda' or 'cpu'
    segger_knn_method          = 'kd_tree'  // 'cuda' - ensure your system has CUDA installed and configured properly
    segger_num_workers         = 4          // number of data-loader workers for segger
    segger_model               = null       // path to a pre-trained segger model checkpoint
    tile_width                 = 120
    tile_height                = 120
    batch_size_train           = 4          // larger batch size can speed up training, but requires more memory
    devices                    = 4          // Use multiple GPUs by increasing the devices parameter to further accelerate training
    max_epochs                 = 200        // increasing #epochs can improve model performance with more learning cycles, but extends training time
    batch_size_predict         = 1          // larger batch size can speed up training, but requires more memory
    cc_analysis                = false      // to control connected component analysis
}
