params {
    stardist_model             = '2D_versatile_fluo'  // stardist pretrained model for cell segmentation
    stardist_nuclei_model      = '2D_versatile_fluo'  // stardist pretrained model for nuclei segmentation
    stardist_prob_thresh       = null                 // stardist probability threshold
    stardist_nms_thresh        = null                 // stardist NMS threshold
    stardist_n_tiles           = "8 8"                // tiling for large images (Xenium images are ~20K×25K)
}
