params {
    // Xeniumranger specific
    xeniumranger_only          = false      // to generate redefined bundle with just changing the xr specific params
    relabel_genes              = false      // wether to correct gene names with gene_panel.json
    expansion_distance         = 5          // default nuclear expansion distance in XOA v2.0 & later
    dapi_filter                = 100        // adjust the minimum peak intensity to use more nuclei
    interior_stain             = true       // interior stain is enabled by default - false to disable
    boundary_stain             = true       // boundary stain is enabled by default - false to disable
}
