/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/spatialaxe -profile test,<docker/singularity> --mode <MODE> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {

    resourceLimits = [
        cpus: 4,
        memory: '8.GB',
        time: '2.h',
    ]

}

params {
    config_profile_name        = 'Test profile coordinate mode'
    config_profile_description = 'Minimal test dataset to check pipeline function in the coordinate mode'

    // Input data
    input                      = "${projectDir}/assets/samplesheet.csv"
    mode                       = 'coordinate'
}
