/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: BAYSOR_RUN {
        publishDir = [
            path: { "${params.outdir}/segmentation/baysor/run" },
            mode: params.publish_dir_mode,
        ]
        version = "0.7.1"
        ext.args = '--x-column="x_location" \\
                    --y-column="y_location" \\
                    --z-column="z_location" \\
                    --gene-column="feature_name" \\
                    --min-molecules-per-cell=10 \\
                    --n-clusters=4 \\
                    --prior-segmentation-confidence=0.5
                    '
    }

    withName: BAYSOR_SEGFREE {
        publishDir = [
            path: { "${params.outdir}/segmentation/baysor/segfree" },
            mode: params.publish_dir_mode,
        ]
        version = "0.7.1"
        ext.args = '--k-neighbors=10 \\
                    --x-column="x_location" \\
                    --y-column="y_location" \\
                    --z-column="z_location" \\
                    --gene-column="feature_name" \\
                    --min-molecules-per-cell=10
                    '
    }

    withName: BAYSOR_PREVIEW {
        publishDir = [
            path: { "${params.outdir}/segmentation/baysor/preview" },
            mode: params.publish_dir_mode,
        ]
        version = "0.7.1"
        ext.args = '--x-column="x_location" \\
                    --y-column="y_location" \\
                    --z-column="z_location" \\
                    --gene-column="feature_name" \\
                    --min-molecules-per-cell=10
                    '
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
